#main-registration-container
{
    margin-top: 50px;
}

#register
{
    background-color: aquamarine;
  padding: 150px 100px;
  margin: 8px 0;
  display: inline-block;
  border: 10px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

body
{
    background-color: beige;

}

label
{
    padding-right: 10px ;
}

.button
{
    height: 25px;
    width: 100px;
    border-radius: 10px;

}